<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <!-- Navbar -->
  <nav class="navbar navbar-dark bg-success">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Navbar brand -->
      <a class="navbar-brand" href="/">Wanjala Awward</a>
      <a class="navbar-brand" href="{%url 'awwards' %}">Projects</a>
      <a class="navbar-brand" href="">Home</a>
      <div class="navbar-start">
        <a style="color: darkgreen;" class="navbar-item" href="{% url 'post'%}">
          Submit Your Project
        </a>
     
            </div>

          </div>

  </nav>
  <!-- Navbar -->
</body>

</html>